@media(min-width:768px) {
    ul {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
    }

    .container-1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .container-2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .column {
        float: right;
        width: 33.33%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .container-1 div{
        padding:2.5%;
    }

    .centerText {
        text-align: center;
    }
}

