@media(min-width:768px) {
    .container-1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .container-1 div{
        padding:2.5%;
    }

    .centerText {
        text-align: center;
    }
}
