span {
    display: inline-block;
}

.labelForTextbox {
    display: inline-block;
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px;
    margin: 25px;
}

.centerText {
    text-align: center;
}
